<!DOCTYPE html>
<html>
<head>
	{{template "mail/base/head" .Subject}}
</head>

{{$url := HTMLFormat "<a href='%[1]s'>%[2]s</a>" .Link .Repo}}
<body>
	<p>{{.Subject}}.
		{{if .IsReparent}}
			{{.locale.Tr "mail.repo.reparent.body" $url}}
		{{else}}
			{{.locale.Tr "mail.repo.transfer.body" $url}}
		{{end}}
	</p>
	{{template "mail/base/footer"}}
</body>
</html>
